body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.user-section {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

nav ul li a.active {
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #f4f4f4;
}

thead th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.ocupado {
    background-color: red;
}

.disponivel {
    background-color: green;
}

.manutencao {
    background-color: blue;
}

.desativado {
    background-color: yellow;
    color: black;
}

button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}


button.edit {
    background-color: #388e3c; 
    color: white;
}

button.edit:hover {
    background-color: #2e7d32;
}

button.view {
    background-color: #1976d2; 
    color: white;
}

button.view:hover {
    background-color: #1565c0;
}

button.delete {
    background-color: #d32f2f; 
    color: white;
}

button.delete:hover {
    background-color: #c62828;
}

button.reservar {
    background-color: #8e24aa; 
    color: white;
}

button.reservar:hover {
    background-color: #7b1fa2;
}

button.add-room {
    background-color: #2b9e3c; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    
    text-align: center;
}

button.add-room:hover {
    background-color: #25853a;
}

.inline-form {
    display: inline;
}
